{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/blog/home">Constant Eportfolio</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarColor02" aria-controls="navbarColor02"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            {# Liens à gauche #}
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/blog/cv">CV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/contacts">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/eportefolio">Eportefolio</a>
                </li>
            </ul>

            {# Liens à droite #}
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/blog/hobbies">Hobbies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/esp">En savoir plus</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}